# Bundler cache
.bundle
vendor
Gemfile.lock

# Jekyll cache
.jekyll-cache
.jekyll-metadata
_site

# RubyGems
*.gem

# NPM dependencies
node_modules
package-lock.json

# IDE configurations
.idea
.vscode
!.vscode/settings.json
!.vscode/extensions.json

# Misc
_sass/dist
assets/js/dist
/_posts/Rime of the Frostmaiden/.obsidian
/_posts/Rime of the Frostmaiden/0_Contents
_posts/Rime of the Frostmaiden/Campaign Sessions.md
/_posts/Rime of the Frostmaiden/Images/Locations/Maps
/_posts/Rime of the Frostmaiden/Images/Locations/Towns
/_posts/Rime of the Frostmaiden/Images
_posts/Rime of the Frostmaiden/Critical Success Agreement.md
_posts/Rime of the Frostmaiden/publish.css
_posts/Rime of the Frostmaiden/Templates/Class.md
/_posts/Rime of the Frostmaiden/Templates
/_posts/Rime of the Frostmaiden
